## Load and read the data

In [1]:
# Import required libraries
import pandas as pd

In [2]:
# Read the two tables
district_df = pd.read_csv("Uganda_Karamoja_District_Crop_Yield_Population.csv")
subcounty_df = pd.read_csv("Uganda_Karamoja_Subcounty_Crop_Yield_Population.csv")

## Data Understanding

In [3]:
#Check sample data for districts
district_df.head(10)

,OBJECTID,NAME,POP,Area,S_Yield_Ha,M_Yield_Ha,Crop_Area_Ha,S_Area_Ha,M_Area_Ha,S_Prod_Tot,M_Prod_Tot
0,92,ABIM,90385,2771977106,449,1040,5470.068394,3277.295971,1848.621855,1471506,1922567
1,96,AMUDAT,101790,1643582836,205,1297,5765.443719,2973.423860,2733.661014,609552,3545558
2,20,KAABONG,627057,7373606003,279,945,28121.672530,20544.194960,7394.416334,5731830,6987723
3,85,KOTIDO,243157,3641539808,331,1148,53032.649450,50247.443900,1751.372284,16631904,2010575
4,5,MOROTO,127811,3570160948,128,355,5954.814048,4741.748776,1190.050606,606944,422468
5,54,NAKAPIRIPIRIT,146780,4216323900,356,1264,26372.698490,19237.333210,6425.788414,6848491,8122197
6,80,NAPAK,167625,4508782023,137,854,22944.296020,16142.015880,6543.719066,2211456,5588336

In [4]:
#Check sample data for subcounty
subcounty_df.head(5)

,OBJECTID,SUBCOUNTY_NAME,DISTRICT_NAME,POP,Area,Karamoja,S_Yield_Ha,M_Yield_Ha,Crop_Area_Ha,S_Area_Ha,M_Area_Ha,S_Prod_Tot,M_Prod_Tot
0,263,KACHERI,KOTIDO,17244,1067176155,Y,354.207411,1137.467019,7023.533691,6434.342449,528.124229,2.279092e+06,600723.892900
1,264,KOTIDO,KOTIDO,52771,597575188,Y,367.890523,1162.996687,13587.990760,12455.592640,824.767081,4.582294e+06,959201.382500
2,265,KOTIDO TOWN COUNCIL,KOTIDO,27389,23972401,Y,369.314177,1167.005832,1656.531855,1520.322052,8.561644,5.614765e+05,9991.488268
3,266,NAKAPERIMORU,KOTIDO,38775,419111591,Y,283.324569,852.366578,7087.823334,6761.488901,45.721712,1.915696e+06,38971.659080
4,267,PANYANGARA,KOTIDO,65704,880955930,Y,373.836926,1283.859882,10398.249390,10111.198130,172.611914,3.779939e+06,221609.511400

In [5]:
# Check info about the dfs
district_df.info() #Data entails 7 districts with 11 columns. No null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OBJECTID      7 non-null      int64
 1   NAME          7 non-null      object
 2   POP           7 non-null      int64
 3   Area          7 non-null      int64
 4   S_Yield_Ha    7 non-null      int64
 5   M_Yield_Ha    7 non-null      int64
 6   Crop_Area_Ha  7 non-null      float64
 7   S_Area_Ha     7 non-null      float64
 8   M_Area_Ha     7 non-null      float64
 9   S_Prod_Tot    7 non-null      int64
 10  M_Prod_Tot    7 non-null      int64
dtypes: float64(3), int64(7), object(1)
memory usage: 744.0+ bytes

 <!-- Check for duplicates -->

In [6]:
# Check info about the dfs
subcounty_df.info() #Data entails 52 districts with 13 columns. No null values.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   OBJECTID        52 non-null     int64
 1   SUBCOUNTY_NAME  52 non-null     object
 2   DISTRICT_NAME   52 non-null     object
 3   POP             52 non-null     int64
 4   Area            52 non-null     int64
 5   Karamoja        52 non-null     object
 6   S_Yield_Ha      52 non-null     float64
 7   M_Yield_Ha      52 non-null     float64
 8   Crop_Area_Ha    52 non-null     float64
 9   S_Area_Ha       52 non-null     float64
 10  M_Area_Ha       52 non-null     float64
 11  S_Prod_Tot      52 non-null     float64
 12  M_Prod_Tot      52 non-null     float64
dtypes: float64(7), int64(3), object(3)
memory usage: 5.4+ KB

## Feature Engineering

These new features to help assess the level of food security. The per capita productivity of the 2 crops and the land-yield ratio 

will inform on land use efficiency hence insight on how much is available to the population relatively.

In [26]:
# Create subcounty productivity per capita to gauge how much is available to the population on average
subcounty_df['S_Prod_Per_Capita'] = subcounty_df['S_Prod_Tot']/subcounty_df['POP']
subcounty_df['M_Prod_Per_Capita'] = subcounty_df['M_Prod_Tot']/subcounty_df['POP']
subcounty_df.head()

,OBJECTID,SUBCOUNTY_NAME,DISTRICT_NAME,POP,Area,Karamoja,S_Yield_Ha,M_Yield_Ha,Crop_Area_Ha,S_Area_Ha,M_Area_Ha,S_Prod_Tot,M_Prod_Tot,S_Prod_Per_Capita,M_Prod_Per_Capita
0,263,KACHERI,KOTIDO,17244,1067176155,Y,354.207411,1137.467019,7023.533691,6434.342449,528.124229,2.279092e+06,600723.892900,132.167234,34.836691
1,264,KOTIDO,KOTIDO,52771,597575188,Y,367.890523,1162.996687,13587.990760,12455.592640,824.767081,4.582294e+06,959201.382500,86.833573,18.176676
2,265,KOTIDO TOWN COUNCIL,KOTIDO,27389,23972401,Y,369.314177,1167.005832,1656.531855,1520.322052,8.561644,5.614765e+05,9991.488268,20.500073,0.364799
3,266,NAKAPERIMORU,KOTIDO,38775,419111591,Y,283.324569,852.366578,7087.823334,6761.488901,45.721712,1.915696e+06,38971.659080,49.405440,1.005072
4,267,PANYANGARA,KOTIDO,65704,880955930,Y,373.836926,1283.859882,10398.249390,10111.198130,172.611914,3.779939e+06,221609.511400,57.529819,3.372847

In [27]:
#Create subcounty land-yield ratio to investigate land use efficiency
# Land use efficiency = (Crop Area / Total Area) * 100
subcounty_df['Land_Use_Efficiency'] = (subcounty_df['Crop_Area_Ha'] / subcounty_df['Area']) * 100
subcounty_df.head()

,OBJECTID,SUBCOUNTY_NAME,DISTRICT_NAME,POP,Area,Karamoja,S_Yield_Ha,M_Yield_Ha,Crop_Area_Ha,S_Area_Ha,M_Area_Ha,S_Prod_Tot,M_Prod_Tot,S_Prod_Per_Capita,M_Prod_Per_Capita,Land_Use_Efficiency
0,263,KACHERI,KOTIDO,17244,1067176155,Y,354.207411,1137.467019,7023.533691,6434.342449,528.124229,2.279092e+06,600723.892900,132.167234,34.836691,0.000658
1,264,KOTIDO,KOTIDO,52771,597575188,Y,367.890523,1162.996687,13587.990760,12455.592640,824.767081,4.582294e+06,959201.382500,86.833573,18.176676,0.002274
2,265,KOTIDO TOWN COUNCIL,KOTIDO,27389,23972401,Y,369.314177,1167.005832,1656.531855,1520.322052,8.561644,5.614765e+05,9991.488268,20.500073,0.364799,0.006910
3,266,NAKAPERIMORU,KOTIDO,38775,419111591,Y,283.324569,852.366578,7087.823334,6761.488901,45.721712,1.915696e+06,38971.659080,49.405440,1.005072,0.001691
4,267,PANYANGARA,KOTIDO,65704,880955930,Y,373.836926,1283.859882,10398.249390,10111.198130,172.611914,3.779939e+06,221609.511400,57.529819,3.372847,0.001180

## Data Manipulation

We want to retain only what is necessary from our data set for visualization purposes.

In [ ]:
# Add a prefix D to district_df columns to differentiate them from subcounty_df columns when doing the merge
district_df.columns = ['D' + col for col in district_df.columns]     
district_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DOBJECTID      7 non-null      int64
 1   DNAME          7 non-null      object
 2   DPOP           7 non-null      int64
 3   DArea          7 non-null      int64
 4   DS_Yield_Ha    7 non-null      int64
 5   DM_Yield_Ha    7 non-null      int64
 6   DCrop_Area_Ha  7 non-null      float64
 7   DS_Area_Ha     7 non-null      float64
 8   DM_Area_Ha     7 non-null      float64
 9   DS_Prod_Tot    7 non-null      int64
 10  DM_Prod_Tot    7 non-null      int64
dtypes: float64(3), int64(7), object(1)
memory usage: 744.0+ bytes

In [8]:
# Create District Yield,District Crop Area, District Prod by summing the respective crop columns
district_df['District Yield'] = district_df['DS_Yield_Ha'] + district_df['DM_Yield_Ha']
district_df['District Crop Area'] = district_df['DS_Area_Ha'] + district_df['DM_Area_Ha']
district_df['District Prod'] = district_df['DS_Prod_Tot'] + district_df['DM_Prod_Tot']

district_df.head()

,DOBJECTID,DNAME,DPOP,DArea,DS_Yield_Ha,DM_Yield_Ha,DCrop_Area_Ha,DS_Area_Ha,DM_Area_Ha,DS_Prod_Tot,DM_Prod_Tot,District Yield,District Crop Area,District Prod
0,92,ABIM,90385,2771977106,449,1040,5470.068394,3277.295971,1848.621855,1471506,1922567,1489,5125.917826,3394073
1,96,AMUDAT,101790,1643582836,205,1297,5765.443719,2973.423860,2733.661014,609552,3545558,1502,5707.084874,4155110
2,20,KAABONG,627057,7373606003,279,945,28121.672530,20544.194960,7394.416334,5731830,6987723,1224,27938.611294,12719553
3,85,KOTIDO,243157,3641539808,331,1148,53032.649450,50247.443900,1751.372284,16631904,2010575,1479,51998.816184,18642479
4,5,MOROTO,127811,3570160948,128,355,5954.814048,4741.748776,1190.050606,606944,422468,483,5931.799382,1029412

In [9]:
# Drop the individual crop columns we just summed above
columns_to_drop = ['DS_Yield_Ha', 'DM_Yield_Ha', 'DS_Area_Ha', 'DM_Area_Ha', 'DS_Prod_Tot', 'DM_Prod_Tot']

district_df = district_df.drop(columns=columns_to_drop)
district_df.head()

,DOBJECTID,DNAME,DPOP,DArea,DCrop_Area_Ha,District Yield,District Crop Area,District Prod
0,92,ABIM,90385,2771977106,5470.068394,1489,5125.917826,3394073
1,96,AMUDAT,101790,1643582836,5765.443719,1502,5707.084874,4155110
2,20,KAABONG,627057,7373606003,28121.672530,1224,27938.611294,12719553
3,85,KOTIDO,243157,3641539808,53032.649450,1479,51998.816184,18642479
4,5,MOROTO,127811,3570160948,5954.814048,483,5931.799382,1029412

In [10]:
# Merge subcounty_df to district_df to have a full enriched dataset
master_df = pd.merge(left = subcounty_df, right = district_df, how= "left", left_on='DISTRICT_NAME', right_on='DNAME')

In [11]:
# Check master_df
master_df.head()

,OBJECTID,SUBCOUNTY_NAME,DISTRICT_NAME,POP,Area,Karamoja,S_Yield_Ha,M_Yield_Ha,Crop_Area_Ha,S_Area_Ha,...,S_Prod_Tot,M_Prod_Tot,DOBJECTID,DNAME,DPOP,DArea,DCrop_Area_Ha,District Yield,District Crop Area,District Prod
0,263,KACHERI,KOTIDO,17244,1067176155,Y,354.207411,1137.467019,7023.533691,6434.342449,...,2.279092e+06,600723.892900,85,KOTIDO,243157,3641539808,53032.64945,1479,51998.816184,18642479
1,264,KOTIDO,KOTIDO,52771,597575188,Y,367.890523,1162.996687,13587.990760,12455.592640,...,4.582294e+06,959201.382500,85,KOTIDO,243157,3641539808,53032.64945,1479,51998.816184,18642479
2,265,KOTIDO TOWN COUNCIL,KOTIDO,27389,23972401,Y,369.314177,1167.005832,1656.531855,1520.322052,...,5.614765e+05,9991.488268,85,KOTIDO,243157,3641539808,53032.64945,1479,51998.816184,18642479
3,266,NAKAPERIMORU,KOTIDO,38775,419111591,Y,283.324569,852.366578,7087.823334,6761.488901,...,1.915696e+06,38971.659080,85,KOTIDO,243157,3641539808,53032.64945,1479,51998.816184,18642479
4,267,PANYANGARA,KOTIDO,65704,880955930,Y,373.836926,1283.859882,10398.249390,10111.198130,...,3.779939e+06,221609.511400,85,KOTIDO,243157,3641539808,53032.64945,1479,51998.816184,18642479

In [21]:
master_df.describe()

,OBJECTID,POP,Area,S_Yield_Ha,M_Yield_Ha,Crop_Area_Ha,S_Area_Ha,M_Area_Ha,S_Prod_Tot,M_Prod_Tot,DOBJECTID,DPOP,DArea,DCrop_Area_Ha,District Yield,District Crop Area,District Prod
count,52.000000,52.000000,5.200000e+01,52.000000,52.000000,52.000000,52.000000,52.000000,5.200000e+01,5.200000e+01,52.000000,52.000000,5.200000e+01,52.000000,52.000000,52.000000,5.200000e+01
mean,787.865385,28934.692308,5.331913e+08,274.165405,940.259552,2839.646974,2253.143395,536.300569,6.557443e+05,5.500730e+05,54.384615,278256.076923,4.605918e+09,23039.352649,1244.961538,22674.979818,9.908727e+06
std,280.101314,20865.122974,4.913308e+08,118.569907,321.641901,3110.505917,2954.355858,724.092288,9.915839e+05,7.939707e+05,33.570618,217787.406671,1.856783e+09,14447.394490,345.307874,14211.358619,5.720557e+06
min,263.000000,1418.000000,2.121209e+06,108.156411,0.000000,0.171390,0.130941,0.000000,1.728126e+01,0.000000e+00,5.000000,90385.000000,1.643583e+09,5470.068394,483.000000,5125.917826,1.029412e+06
25%,597.750000,16558.500000,1.568923e+08,173.034066,743.075879,964.876031,405.394759,79.821743,1.210555e+05,6.087012e+04,20.000000,127811.000000,3.570161e+09,5954.814048,991.000000,5931.799382,4.155110e+06
50%,810.500000,23053.500000,3.848356e+08,277.255206,1016.684002,1654.265138,1231.824455,326.479336,2.543687e+05,2.896239e+05,54.000000,167625.000000,4.216324e+09,26372.698490,1224.000000,25663.121624,1.271955e+07
75%,982.250000,39461.000000,7.749029e+08,368.246437,1203.548665,3267.564651,2429.985069,740.296675,6.040942e+05,8.114574e+05,85.000000,627057.000000,7.373606e+09,28121.672530,1489.000000,27938.611294,1.497069e+07
max,1320.000000,100919.000000,2.069555e+09,560.313070,1396.991494,13587.990760,12964.499730,3840.698081,4.582294e+06,4.365058e+06,96.000000,627057.000000,7.373606e+09,53032.649450,1620.000000,51998.816184,1.864248e+07

In [14]:
master_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52 entries, 0 to 51
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   OBJECTID            52 non-null     int64
 1   SUBCOUNTY_NAME      52 non-null     object
 2   DISTRICT_NAME       52 non-null     object
 3   POP                 52 non-null     int64
 4   Area                52 non-null     int64
 5   Karamoja            52 non-null     object
 6   S_Yield_Ha          52 non-null     float64
 7   M_Yield_Ha          52 non-null     float64
 8   Crop_Area_Ha        52 non-null     float64
 9   S_Area_Ha           52 non-null     float64
 10  M_Area_Ha           52 non-null     float64
 11  S_Prod_Tot          52 non-null     float64
 12  M_Prod_Tot          52 non-null     float64
 13  DOBJECTID           52 non-null     int64
 14  DNAME               52 non-null     object
 15  DPOP                52 non-null     int64
 16  DArea               52 non-null     int64
 17  DCrop_Area_Ha       52 non-null     float64
 18  District Yield      52 non-null     int64
 19  District Crop Area  52 non-null     float64
 20  District Prod       52 non-null     int64
dtypes: float64(9), int64(8), object(4)
memory usage: 8.9+ KB

In [15]:
# master_df.head(20)

In [16]:
master_df.to_csv('master_df.csv', index=False)

In [17]:
filtered_df=subcounty_df[subcounty_df['DISTRICT_NAME']== 'AMUDAT']
print(filtered_df.S_Yield_Ha)
# filtered_df

25    193.904842
26    200.696210
27    239.047878
28    146.117797
Name: S_Yield_Ha, dtype: float64

In [18]:
# avg_per_district = subcounty_df.groupby("DISTRICT_NAME").mean(numeric_only=True)
avg_per_district = subcounty_df.groupby("DISTRICT_NAME").sum(numeric_only=True)
print(avg_per_district)

               OBJECTID     POP        Area   S_Yield_Ha    M_Yield_Ha  \
DISTRICT_NAME
ABIM               5130   90384  2771973781  2581.550349   6248.849891
AMUDAT             3246  101790  1643579352   779.766726   4723.065649
KAABONG            8365  627057  7373600820  3664.079255  13850.590123
KOTIDO             1593  243156  3641536124  2019.759448   6650.876126
MOROTO             5953  127812  3570157178   961.588273   2290.249021
NAKAPIRIPIRIT      8187  146779  4216319883  3038.982573   9352.737522
NAPAK              8495  167626  4508778102  1210.874440   5777.128385

               Crop_Area_Ha     S_Area_Ha    M_Area_Ha    S_Prod_Tot  \
DISTRICT_NAME
ABIM            5470.068394   3277.295971  1848.621855  1.472671e+06
AMUDAT          5765.443718   2973.423860  2733.661014  6.103003e+05
KAABONG        28121.672534  20544.194958  7394.416335  5.723091e+06
KOTIDO         53032.649460  50247.443902  1751.372283  1.663429e+07
MOROTO          5954.814048   4741.748775  1190.050606  6.075967e+05
NAKAPIRIPIRIT  26372.698485  19237.333210  6425.788414  6.841727e+06
NAPAK          22944.296022  16142.015884  6543.719066  2.209032e+06

                 M_Prod_Tot
DISTRICT_NAME
ABIM           1.922133e+06
AMUDAT         3.546469e+06
KAABONG        6.990362e+06
KOTIDO         2.010179e+06
MOROTO         4.221161e+05
NAKAPIRIPIRIT  8.125156e+06
NAPAK          5.587379e+06

In [19]:
avg_yield = filtered_df["M_Yield_Ha"].mean()
print(avg_yield)

1180.7664123